PRODUCT_HTTP_ADDR=:8080
PRODUCT_GRPC_ADDR=:9090
PRODUCT_LOG_LEVEL=info
PRODUCT_MYSQL_DSN=root:root@tcp(127.0.0.1:3308)/product?charset=utf8mb4&parseTime=True&loc=Local
PRODUCT_REDIS_ADDR=127.0.0.1:6379
PRODUCT_REDIS_DB=0
